<div class="min-h-screen bg-gray-100 py-6 flex flex-col justify-center sm:py-12 px-6 rounded-md">
  <div class="relative py-3 sm:max-w-xl sm:mx-auto">
    <h1 class="text-5xl font-semibold text-center mb-8 text-gray-800">Your Copies</h1>
    
    <div class="flex justify-center mb-5">
      <%= link_to 'Create New Copy', new_copy_path, class: "inline-flex items-center px-6 py-3 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500" %>
    </div>

    <div class="bg-white px-10 py-5 rounded-md shadow-xl">
      <% if @copies.any? %>
        <ul class="space-y-6">
        <% @copies.each do |copy| %>
          <li class="border-b border-gray-200 pb-6">
            <div class="flex justify-between items-baseline mb-2">
              <h2 class="text-2xl font-semibold text-gray-800"><%= copy.business_name %></h2>
            </div>
            <p><strong>Industry:</strong> <%= copy.industry %></p>
            <p><strong>Target Market:</strong> <%= copy.target_market %></p>
            <p><strong>Copy Location:</strong> <%= copy.copy_location %></p>
            <p><strong>Copy Purpose:</strong> <%= copy.copy_purpose %></p>
            <p><strong>Copy Tone:</strong> <%= copy.copy_tone %></p>
            <p class="mt-3 text-blue-600"><strong>Generated Content:</strong> <%= copy.content %></p>

            <%= button_to 'Delete', copy_path(copy), method: :delete, class: "inline-flex items-center px-4 py-2 border border-red-500 text-base font-medium rounded-md shadow-sm text-red-500 hover:bg-red-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 mt-3" %>
          </li>
        <% end %>
        </ul>
      <% else %>
        <p class="text-center text-gray-600">You haven't made any copies yet.</p>
      <% end %>
    </div>
  </div>
</div>